.main-container {
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
}

body {
    background-image: url("../images/Untitled\ design\ copy.png");
    color: darkslategray;
    font-family: 'Special Elite', cursive;
}

.gameText {
    background-color: lightgrey;
    border: 2px solid lightgrey;
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: auto;
    background-image: url("../images/white-creative-mosaic-triangles-background-subtle-geometric-pattern-light-crystals-abstract-texture-trendy-cool-illustration-153957036.jpg")
}

.results, .numberDiv, .scoreDiv {
    background-color: #ffddca;
    padding: 20px 20px 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

.results {
    margin-left:35px; 
}








